<!doctype html>
<html lang="en">
<head>
 	<title>Make Change</title>
 	<meta charset="utf-8">
 	<link rel="stylesheet" href="style.css">
<form method="post" action="make_change">
  <label>
    <input type="text" name="total"required />
    <div class="label-text">Total</div>
  </label>
  <label>
    <input type="text" name="given" required />
    <div class="label-text">Amount Received</div>
  </label>
  <button>Submit</button>
</form>
<br>
<label>
<div class="label-text"><%= yield %></div>
</label>